.banner{
	padding:0px 0px;
	/*background: url('/images/banner_back.jpg');*/
	overflow: hidden;
}
.banner .carousel-item{
	width:100%;
}
.banner img{
	width: 100%;
}
.banner .title{
	font-size: 3rem;
	color:#fff;
	text-shadow: 3px 3px 0 #000;
	text-align:left;
}
.banner .description{
	font-size:1.5rem;
	color:#ddd;
	text-align:left;
	text-shadow: 0px 2px 0 #000;
}