body{
	font-family: 'Roboto', sans-serif;
	background: #fff;
}
.section-title{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 2.3rem;
	padding-bottom: 2rem;
}
.section-white{
	color:#fff;
}

.hovered:hover{
	background: #ddd;
}

.file_wraper .form-group{padding:1em;margin:1em;font-size:0.7rem;}
.file_wraper input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none;display:none;}
.file_wraper .label{width:120px;border:2px dashed grey;border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
.file_wraper .label i{display:block;font-size:42px;padding-bottom:16px}
.file_wraper .label i,.file_wraper .label .title{color:grey;transition:200ms color}
.file_wraper .label:hover{border:2px solid #000}
.file_wraper .label:hover i,.file_wraper .label:hover .title{color:#000}
