.card{
	transition: transform 0.3s linear, box-shadow 0.3s linear;
	border: 0px;
	overflow:hidden;
}
.card:hover{
	box-shadow: 0px 0px 15px #999;
}

.card img{
	transition: transform 0.3s linear;
	z-index:10;
}

.card:hover img{
	box-shadow: 0px 0px 15px #999;
	transform: scale(1.1,1.1);
}

.card .card-body{
	background:#fff;
	z-index:20;
}

.card .card-title{
	font-size: 0.9rem;
	color:#333;
}
.card .desc{
	color: #666;
}

.card .articule{
	color: #666;
	text-align: left;
	font-size: 0.6rem;
	font-weight: 100;
}

.card .price{
	font-size: 1.5rem;
	padding-top: 5px;
}

.btn-push-card{
	background: #fc5871;
	color: #fff;
	font-size: 1rem;
}
.btn-push-card:hover{
	background: #ba021e;
	color: #fff;
}

.card .product-img{
	position: relative;
}
.card .product-img:hover .product-viewer{
	opacity: 1;
}
.card .product-viewer{
	transition: 0.3s opacity linear;
	opacity: 0;
	position: absolute;
	width: 70%;
	background: rgba(255,210,50,0.7);
	left: 15%;
	top: 45%;
	z-index: 500;
	text-align: center;
	padding: 10px;
}
