.card{
	transition: transform 0.3s linear, box-shadow 0.3s linear;
	border: 0px;
	overflow:hidden;
}
.card:hover{
	box-shadow: 0px 0px 15px #999;
}

.card img{
	transition: transform 0.3s linear;
	z-index:10;
}

.card:hover img{
	box-shadow: 0px 0px 15px #999;
	transform: scale(1.02,1.02);
}

.card .card-body{
	background:#fff;
	z-index:20;
}

.card .card-title{
	font-size: 0.9rem;
	color:#333;
}
.card .desc{
	color: #666;
	font-size: 0.7rem;
}
.card .desc .row{
	padding: 2px 0;
	border-bottom: 1px dotted #ddd;
	white-space: nowrap;
	overflow-x: hidden;
}

.card .articule{
	color: #666;
	text-align: left;
	font-size: 0.6rem;
	font-weight: 100;
}

.card .price{
	font-size: 1.5rem;
	padding-top: 5px;
}

.btn-push-card{
	background: #fc5871;
	color: #fff;
	font-size: 1rem;
}
.btn-push-card:hover{
	background: #ba021e;
	color: #fff;
}

.card .product-img{
	position: relative;
}

.card .product-img a {
	text-decoration: none;
	color:#333;
}
.card .product-img:hover .product-viewer{
	position: absolute;
	bottom: 0%;
	left: 0;
	z-index:10;
}
.card .product-viewer{
	transition: 0.3s bottom linear;
	position: absolute;
	width: 100%;
	background: rgba(255,210,50);
	left: 0%;
	bottom: -30%;
	z-index: 0;
	text-align: center;
	padding: 10px;
}


.cursor-none{
	pointer-events: none;
}

.product img{
	width:100%;
}

.selectus{
	position: relative;
}
.selectus select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    border-radius: 10px;
}

/*.selectus:after{
	content: "";
	z-index: 999;
	position: absolute ;
	bottom: 0px;
	right: 10px;
	display: block;
}*/